# application.yaml
spring:
  application:
    name: frontoffice
  h2:
    console:
      enabled: true
#      path: /h2-console
  datasource:
    url: jdbc:h2:mem:bookdb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect

